.section {
  max-width: 75%;
  margin: 0 auto;
  border-bottom: 1px solid hsl(207, 4%, 16%);
  padding: 20px 0;
  padding-bottom: 3.5rem;
}

.gridContainer {
  max-width: 75%;
  margin: 0 auto;
}

.toolImage {
  width: 75px;
  height: 75px;
  margin: 0 auto;
}

.skillsContainer {
  width: 50%;
  padding-bottom: 20px;
}

@media only screen and (max-width: 640px) {
  .toolImage {
    width: 40px;
    height: 40px;
  }

  .gridContainer {
    max-width: 95%;
    margin: 0 auto;
  }
}
